* {
    font-size: 18px;
}

.container_all {
    margin: 0 200px;
}

.container_pages {
    margin: 0 200px 200px;
}

/*<------------login_page----------->*/
.container_login {
    display: flex;
    justify-content: space-around;
}

.right-nav > h3 {
    margin: 50px 100px 50px;
}

.right-nav > form > button {
    margin-left: 350px;
}

.left-nav {
    margin-top: 80px;
}

.left-nav > a {
    margin-left: 100px;
}

.left-nav > h4 {
    margin-bottom: 25px;
}

/*<------------signup_page----------->*/
.container_signup {
    margin-right: 20%;
    margin-left: 20%;
    margin-top: 25px;
}

.container_signup > h5 {
    text-align: center;
    margin-bottom: 30px;
}

.signup_return {
    margin-top: 10px;
}

/*<------------fieldset----------->*/
.fieldset {
    border: 1px solid;
}

/*<------------subscription----------->*/
.subscriber {
    margin: 10px 50px;
}

.subscriber  {
    margin: 0 50px;
}

.followed_user {
    display: flex;
    justify-content: space-between;
}

.followed {
    margin: 25px 50px;
}

.search_user {
    display: flex;
    justify-content: center;
}

/*<------------posts----------->*/

/*<------------feed----------->*/
/*<------------forms----------->*/
.all_forms {

}
/*<------------fieldset----------->*/