{% extends 'base.html' %}
{% block content %}
<h1 class="text-center pt-4 pb-4">Flux</h1>
<div class="container_pages pt-4">
    <div class="d-flex justify-content-around">
        <div class=""><a href="{% url 'create_ticket' %}">
            <button type="button" class="btn btn-primary">Demander une critique</button>
        </a></div>
        <div class=""><a href="{% url 'review_create' %}">
            <button type="button" class="btn btn-primary">Créer une critique</button>
        </a></div>
    </div>
    {% if posts %}
    {% for post in posts %}
    {% if not post.ticket.posted_review %}
    {% include 'review/ticket_snippet.html' %}
    {% else %}
    {% include 'review/review_snippet.html' %}
    {% endif %}
    {% endfor %}
    {% else %}
    <p class="text-center pt-4 pb-4 h4">Aucun post dans votre flux</p>
    {% endif %}


    <span class="text-center">
        {% include 'review/pagination_snippet.html' %}
    </span>
    {% endblock content %}
</div>