{% if post.user == request.user or post.user.id in followed_ids %}
<div class="card mt-4 mb-4 rounded-0">
    <div class="card-header">
        <div class="d-flex justify-content-between">
            {% if post.user == request.user %}
            <p>Vous avez publié une critique</p>
            {% else %}
            <p>{{ post.user|capfirst }} à publié une critique</p>
            {% endif %}
            <em class="align-self-start">{{ post.time_created }}</em>
        </div>
        <div class="d-flex">
            <b>{{ post.headline|title }}</b>
            <p> - {{ post.rating|title }}</p>
        </div>
        <p>{{ post.body }}</p>
    </div>
    <div class="card-body">
        <div class="card">
            <div class="card-header">
                Ticket - {{ post.ticket.user|capfirst }}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ post.ticket.title }}</h5>
                <p class="card-text">{{ post.ticket.description }}</p>
                {% if post.ticket.image %}
                <img src="{{ post.ticket.image.url }}" class="" alt="{{ post.title }}">
                {% endif %}
            </div>
        </div>
        <div class="d-flex justify-content-end m-4">
            {% if post.user == user %}
            <a class="btn btn-success" type="button" href="{% url 'review_update' post.id %}">Modifier cette critique</a>
            <a class="btn btn-danger" type="button" href="{% url 'review_delete' post.id %}">Supprimer cette critique</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}