{% extends 'base.html' %}
{% block content %}
<h2>{{ticket.title}}</h2>
{% if ticket.image %}
<img src="{{ ticket.image.url }}" alt="{{ticket.title}}">
{% endif %}
<p>{{ ticket.description }}</p>
{% if ticket.user == request.user %}
<a class="btn btn-success" type="button" href="{% url 'ticket_update' ticket.id %}">Modifier ce ticket </a>
<a class="btn btn-success" type="button" href="{% url 'ticket_delete' ticket.id %}">Supprimer ce ticket</a>
<a class="btn btn-success" type="button" href="{% url 'review_answer' ticket.id %}">Créer une critique</a>
{% endif %}
{% endblock content %}