{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}
<div class="container_pages">
    <div class="pt-4">
        <p class="text-center h4">Suivre un nouvel utilisateur</p>
        <form class="search_user" method="post" action="{% url 'follow' %}">
            {% csrf_token %}
            <div class="col-md-6">
                <input
                        type="text"
                        class="form-control"
                        name="followed_user"
                        placeholder="Nom de l'utilisateur"
                />
            </div>
            <div class="">
                <button type="submit" class="btn btn-success mb-3">S'abonné</button>
            </div>
        </form>
    </div>
    <div>
        {% if followed_user %}
        <div class="followed">
            <p class="text-center h4">Abonnements ({{ followed_user.count }})</p>
            {% for user in followed_user %}
            <div class="followed_user fieldset">
                <p class="mb-0 ml-4">{{ user.followed_user.username|capfirst }}</p>
                <form method="post" action="{% url 'unfollow' user.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{ user.followed_user.id }}">
                    <button type="submit" class="btn btn-success btn-sm rounded-0">Se desabonner</button>
                </form>
            </div>
            {% endfor %}
            {% else %}
            <div>
                <p class="text-center">Vous ne suivez aucun utilisateur actuellement</p>
                {% endif %}
            </div>
            <div>
                <p class="text-center h4 pt-4">Abonné ({{ followed_by.count }})</p>
                {% if followed_by %}
                {% for follower in followed_by %}
                <fieldset class="fieldset subscriber">
                    {{ follower.user.username|capfirst }}
                </fieldset>
                {% endfor %}
                {% else %}
                <p>Aucun utilisateur ne vous suit actuellement</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}